## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from configG import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/dantw/Desktop/Vanessa/Module 6/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Yellowknife,CA,62.4560,-114.3525,22.41,62,75,17.27,broken clouds
1,1,Westport,US,41.1415,-73.3579,45.95,92,100,4.61,overcast clouds
2,2,Mataura,NZ,-46.1927,168.8643,50.04,89,93,1.86,overcast clouds
3,3,Shimoda,JP,34.6667,138.9500,49.10,91,100,17.87,moderate rain
4,4,Saint-Philippe,RE,-21.3585,55.7679,74.79,92,100,11.10,heavy intensity rain

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 100

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Saint George,US,37.1041,-113.5841,76.42,20,0,5.75,clear sky
9,9,Kavieng,PG,-2.5744,150.7967,81.61,75,100,5.23,light rain
10,10,Hambantota,LK,6.1241,81.1185,78.33,83,25,1.16,scattered clouds
12,12,Rikitea,PF,-23.1203,-134.9692,76.75,67,56,10.22,broken clouds
14,14,Hilo,US,19.7297,-155.0900,76.73,78,100,10.36,light rain
15,15,Mana,GF,5.6592,-53.7767,78.46,87,42,11.07,scattered clouds
16,16,Avarua,CK,-21.2078,-159.7750,80.65,83,20,6.91,few clouds
17,17,Half Moon Bay,US,37.4636,-122.4286,78.89,63,0,20.71,haze
19,19,Puerto Ayora,EC,-0.7393,-90.3518,85.96,93,57,8.99,broken clouds
23,23,Wad Madani,SD,14.4012,33.5199,95.02,15,99,11.14,overcast clouds

In [22]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [23]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Saint George,US,37.1041,-113.5841,76.42,20,0,5.75,clear sky
9,9,Kavieng,PG,-2.5744,150.7967,81.61,75,100,5.23,light rain
10,10,Hambantota,LK,6.1241,81.1185,78.33,83,25,1.16,scattered clouds
12,12,Rikitea,PF,-23.1203,-134.9692,76.75,67,56,10.22,broken clouds
14,14,Hilo,US,19.7297,-155.0900,76.73,78,100,10.36,light rain
...,...,...,...,...,...,...,...,...,...,...
645,645,Riyadh,SA,24.6877,46.7219,77.14,12,91,4.97,overcast clouds
651,651,Arteaga,MX,18.4667,-102.4167,88.75,18,98,6.98,overcast clouds
653,653,Juchipila,MX,21.4167,-103.1167,94.55,7,5,13.98,clear sky
654,654,Narasannapeta,IN,18.4167,84.0500,77.72,93,79,6.26,broken clouds
655,655,Gizo,SB,-8.1030,156.8419,82.87,75,98,8.72,overcast clouds

In [24]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Saint George,US,76.42,clear sky,37.1041,-113.5841,
9,Kavieng,PG,81.61,light rain,-2.5744,150.7967,
10,Hambantota,LK,78.33,scattered clouds,6.1241,81.1185,
12,Rikitea,PF,76.75,broken clouds,-23.1203,-134.9692,
14,Hilo,US,76.73,light rain,19.7297,-155.0900,
15,Mana,GF,78.46,scattered clouds,5.6592,-53.7767,
16,Avarua,CK,80.65,few clouds,-21.2078,-159.7750,
17,Half Moon Bay,US,78.89,haze,37.4636,-122.4286,
19,Puerto Ayora,EC,85.96,broken clouds,-0.7393,-90.3518,
23,Wad Madani,SD,95.02,overcast clouds,14.4012,33.5199,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

In [25]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [27]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Saint George,US,76.42,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
9,Kavieng,PG,81.61,light rain,-2.5744,150.7967,Nusa Island Retreat
10,Hambantota,LK,78.33,scattered clouds,6.1241,81.1185,Bungalow 63
12,Rikitea,PF,76.75,broken clouds,-23.1203,-134.9692,People ThankYou
14,Hilo,US,76.73,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel

In [28]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [30]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))